<div style="padding: 20px; background-color:#ffffff;">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td height="60" align="left">
          <!-- <img src="{{site_url}}/images/logo.png" height="50" style="margin-right: 15px;">
          <img src="{{site_url}}/images/logo_text.png" height="45"> -->
        </td>
      </tr>

      <tr>
        <td height="50" valign="middle" align="left">
          <p style="font-size:16px; line-height:20px; font-weight:bold;">{{title}}</p>
        </td>
      </tr>

      <tr>
        <td style="font-size:16px;">{{description}}</td>
      </tr>
      
      <tr> 
        <td height="10">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <p style="font-size:12px;line-height:12px;">
            * อีเมลนี้ถูกส่งด้วยระบบอัตโนมัติ กรุณาอย่าตอบกลับ
          </p>
        </td>
      </tr>

      <tr> 
        <td height="10">&nbsp;</td>
      </tr>
      <tr>
        <td valign="middle" align="left" style="border-top:1px solid #d9d9d9;padding-top:1px; padding-left: 2rem;">
          <br>
          <span align="left" style="font-size:11px; display:block;">
            <!-- <a href="http://www.panta.xyz" target="_blank">WWW.PANTA.XYZ</a> -->
          </span>
          <span align="right" style="font-size:11px; display:block;">Copyright 2019 China Thai Cargo. All Rights Reserved. CHINA THAI CARGO</span>
      </tr>
    </tbody>
  </table>
</div>