@mixin textLine($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

#loader {
  .loader-container {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -1;
    opacity: 0;
    transition: 0.3s;

    &.show {
      z-index: 9999;
      opacity: 1;
    }

    .bar-animate-container {
      width: 60px;
      height: 50px;
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .bar-animate {
        height: 100%;
        width: 8px;
        margin-right: 2px;
        animation: delay 0.8s infinite ease-in-out;

        &.bar1 {
          background-color: #754fa0;
        }

        &.bar2 {
          background-color: #09b7bf;
          -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
        }

        &.bar3 {
          background-color: #90d36b;
          -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
        }

        &.bar4 {
          background-color: #f2d40d;
          -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
        }

        &.bar5 {
          background-color: #fcb12b;
          -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
        }

        &.bar6 {
          background-color: #ed1b72;
          -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
        }
      }
    }
  }
}

@-webkit-keyframes delay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.05);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes delay {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

#nav-x-top {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 50px;
  background-color: var(--bg-nav);
  border-bottom: 1px solid var(--bg-card-back);
  padding-right: 20px;
  display: flex;

  scrollbar-width: none;
  // overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  .nav-x-slash {
    display: flex;
    align-items: center;
    padding: 0 10px;
    &:before {
      content: "";
      height: 20px;
      width: 1px;
      background-color: var(--bg-card-back);
    }
  }
  .nav-x-left {
    display: flex;
    .nav-x-header {
      width: 250px;
      min-width: 250px;
      border-right: 1px solid var(--bg-card-back);
      padding: 10px 5px 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.3s;
      overflow: hidden;
      margin-right: 15px;

      .nav-x-logo {
        width: 150px;
        padding-top: 36px;
        position: relative;
        overflow: hidden;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        svg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .fix-img{
          position: absolute;
          top: 0;
          left: 0;
          max-width: 100%;
          height: 100%;
          width: auto;
        }
      }
      .nav-x-chevron-arrow {
        min-width: 30px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          border-radius: 5px;
          border: 1px solid var(--bg-card-back);
        }
      }
      .nav-x-menu {
        width: 30px;
        min-width: 30px;
        height: 30px;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 5px;
        margin-left: -5px;
        .icon {
          display: flex;
          svg {
            g {
              fill: var(--color-info);
              stroke: var(--color-info);
            }
          }
        }
        .icon-hover {
          display: none;
          transform: rotate(180deg);
        }
        &:hover {
          border: 1px solid var(--bg-card-back);
          .icon {
            display: none;
          }
          .icon-hover {
            display: flex;
          }
        }
      }

      &.is-hide {
        width: 45px;
        min-width: 45px;
        border-right: 0;
        .nav-x-logo {
          display: none;
        }
        .nav-x-chevron-arrow {
          display: none;
        }
        .nav-x-menu {
          display: flex;
        }
      }
    }
    .nav-x-module-active {
      display: flex;
      align-items: center;
      margin-right: 10px;
      .nav-x-icon {
        width: 30px;
        min-width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-hover-nav);
        border-radius: 5px;
        margin-right: 10px;
      }
      .nav-x-name-active {
        font-size: 16px;
        color: var(--color-info);
        font-weight: 500;
        max-width: 120px;
        @include textLine(1);
      }
    }
  }
  .nav-x-center {
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    .nav-x-favorite {
      display: flex;

      scrollbar-width: none;
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }

      .nav-x-favorite-list-group {
        display: flex;
        align-items: center;
        .nav-x-favorite-list {
          cursor: pointer;
          position: relative;
          height: 50px;
          display: flex;
          align-items: center;
          padding: 0 5px;
          transition: all 0.3s;
          span {
            font-size: 14px;
            color: var(--color-icon-text);
            font-weight: 500;
            white-space: nowrap;
          }
          .btn-delete-nav-x-favorite {
            display: none;
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            top: calc(50% + 1px);
            right: -5px;
            width: 30px;
            height: 20px;
            transform: translate(0, -50%);
            background: linear-gradient(
              90deg,
              rgba(255, 255, 255, 0) 0%,
              var(--bg-nav) 50%,
              var(--bg-nav) 100%
            );
          }
          &:hover {
            .btn-delete-nav-x-favorite {
              display: flex;
            }
          }
        }
      }
    }
    .btn-nav-x-add {
      width: 100px;
      min-width: 100px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      cursor: pointer;
      .nav-x-text {
        font-size: 14px;
        color: var(--color-icon-text);
        margin-left: 5px;
      }
      &:hover {
        background-color: var(--color-hover-nav);
        border-radius: 5px;
      }
      &:active {
        background-color: var(--color-hover-nav);
        border-radius: 5px;
      }
    }
  }
  .nav-x-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    .nav-x-aleat {
      cursor: pointer;
    }
    .nav-x-profile {
      cursor: pointer;
      .nav-x-btn-profile {
        position: relative;
        display: flex;
        align-items: center;
        .nav-x-profile-user {
          width: 30px;
          height: 30px;
          overflow: hidden;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .nav-x-profile-dev {
          position: relative;
          .nav-x-profile-image {
            width: 30px;
            height: 30px;
            overflow: hidden;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          svg {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
      .nav-x-profile-dropdown {
        position: fixed;
        right: -410px;
        top: 60px;
        overflow: hidden;
        border-radius: 10px;
        background-color: var(--v2-color-bg-card);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        width: 100%;
        transition: all 0.3s;
        &.active {
          right: 0;
        }
        hr {
          margin: 0;
        }
        @mixin profileManage() {
          .nav-x-user-name {
            padding: 0 15px;
            font-size: 14px;
            color: var(--v2-color-text-info);
            font-weight: 500;
          }
          .nav-x-user-id {
            padding: 0 15px;
            font-size: 14px;
            color: var(--v2-color-text-secondary);
            font-weight: 500;
            margin-bottom: 10px;
          }
          .nav-x-edit-profile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            padding: 0 15px;
            .nax-x-profile-name {
              display: flex;
              align-items: center;
              svg {
                min-width: 20px;
              }
              span {
                font-size: 14px;
                color: var(--v2-color-text-info);
                font-weight: 600;
                margin-left: 10px;
              }
            }
            .arrow-right {
              display: flex;
              transform: rotate(-90deg);
            }
            &:hover {
              background-color: var(--v2-color-hover);
            }
          }
          .nav-x-logout {
            height: 40px;
            display: flex;
            align-items: center;
            color: var(--v2-color-danger);
            font-weight: 600;
            padding: 0 15px;
            &:hover {
              background-color: var(--v2-color-hover);
            }
          }
          .nav-x-profile-user-login-msg {
            font-size: 14px;
            color: var(--color-icon-text);
            text-align: center;
            margin-bottom: 15px;
            padding: 0 15px;
          }
          .nav-x-btn-user-login-area {
            display: flex;
            justify-content: center;
            .nav-x-btn-user-login {
              width: 130px;
              height: 35px;
              background-color: var(--v2-color-bg);
              color: var(--color-primary);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 20px;
              font-weight: 500;
              &:hover {
                background-color: var(--v2-color-hover);
              }
            }
          }
        }
        .nav-x-profile-dropdown-user {
          max-width: 200px;
          width: 100%;
          padding: 10px 0 0 0;
          @include profileManage();
          &.is-border {
            border-right: 1px solid var(--bg-card-back);
          }
        }
        .nav-x-profile-dropdown-dev {
          max-width: 200px;
          width: 100%;
          padding: 10px 0 0 0;
          @include profileManage();
          &.is-border {
            border-left: 1px solid var(--bg-card-back);
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .nav-x-left,
    .is-hide {
      .nav-x-header {
        width: 45px;
        min-width: 45px;
        border-right: 0;
        .nav-x-logo {
          display: none;
        }
        .nav-x-chevron-arrow {
          display: none;
        }
        .nav-x-menu {
          display: flex;
          &:hover {
            .icon {
              display: flex;
            }
            .icon-hover {
              display: none;
            }
          }
        }
      }
    }
    .nav-x-center {
      display: none;
    }
    .btn-nav-x-add {
      display: none;
    }
  }
}

#nav-x,
#nav-x-favorite-menu {
  background-color: var(--bg-nav);
  border-right: 1px solid var(--bg-card-back);
  width: 250px;
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  z-index: 1000;
  padding-bottom: 42px;
  transition: all 0.3s;

  .nav-x-container {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .nav-x-list-area {
      border-bottom: 1px solid var(--bg-card-back);
      .nav-x-category {
        padding: 10px 5px 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .nav-x-logo {
          display: flex;
          align-items: center;
          svg {
            max-width: 20px;
            min-width: 20px;
            max-height: 20px;
          }
          .nav-x-project-name {
            padding-left: 10px;
            font-size: 14px;
            font-weight: 500;
            color: var(--color-info);
            width: 165px;
            @include textLine(1);
          }
        }
        .nav-x-chevron-expand {
          min-width: 30px;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s;
        }
        &:hover {
          background-color: var(--color-hover-nav);
        }
      }
      .nav-x-menu-list {
        max-height: 5000px;
        transition: max-height 0.2s ease-in-out;
        .nav-x-sub-category {
          font-size: 12px;
          color: var(--color-icon-text);
          padding: 0 5px 0 20px;
          @include textLine(1);
        }
        .nav-x-list-group {
          .nav-x-list {
            padding: 10px 5px 10px 20px;
            display: flex;
            align-items: center;
            cursor: pointer;
            svg {
              min-width: 10px;
            }
            .nav-x-page-name {
              padding-left: 10px;
              font-size: 14px;
              font-weight: 500;
              color: var(--color-icon-text);
              @include textLine(1);
            }
            &:hover {
              background-color: var(--color-hover-nav);
            }
            &.active {
              background-color: var(--color-hover-nav);
              svg g {
                stroke: var(--color-highlight);
              }
              .nav-x-page-name {
                color: var(--color-highlight);
              }
            }
          }
        }
      }
      &.is-hide {
        .nav-x-category {
          .nav-x-chevron-expand {
            transform: rotate(-90deg);
          }
        }
        .nav-x-menu-list {
          max-height: 0;
          overflow: hidden;
        }
      }
    }
  }

  .x-version {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid var(--bg-card-back);
    padding: 10px 5px 10px 20px;
    font-size: 14px;
    color: var(--color-place-holder);
    background-color: var(--bg-nav);
  }

  &.is-hide {
    left: -260px;
    top: 60px;
    border-radius: 10px;
    max-height: calc(100vh - 70px);
    border-right: 0;
    height: auto;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    .nav-x-container {
      max-height: calc(100vh - 130px);
    }
    .nav-x-list-area {
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &.is-hover {
    left: 0;
  }

  @media (max-width: 768px) {
    left: -260px;
    top: 60px;
    border-radius: 10px;
    max-height: calc(100vh - 70px);
    border-right: 0;
    height: auto;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    .nav-x-container {
      max-height: calc(100vh - 130px);
    }
    .nav-x-list-area {
      &:last-child {
        border-bottom: 0;
      }
    }
    &.is-hover {
      left: 0;
    }
  }
}

#nav-x-favorite-menu {
  left: -260px;
  top: 60px;
  border-radius: 10px;
  max-height: calc(100vh - 70px);
  border-right: 0;
  height: auto;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  .nav-x-container {
    max-height: calc(100vh - 130px);
  }
  .x-top-detail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--bg-card-back);
    padding: 10px 5px 10px 20px;
    font-size: 14px;
    color: var(--color-place-holder);
    background-color: var(--bg-nav);
  }
  .nav-x-container {
    .nav-x-list-area {
      .nav-x-category {
        cursor: unset;
      }
      .nav-x-menu-list {
        .nav-x-list-group {
          .nav-x-list {
            &.nav-x-add-favorite {
              position: relative;
              &:hover {
                &:after {
                  content: "Add";
                  position: absolute;
                  top: 50%;
                  right: 15px;
                  color: var(--color-primary);
                  transform: translate(0, -50%);
                }
              }
            }
          }
        }
      }
    }
  }

  .x-version {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid var(--bg-card-back);
    padding: 10px 5px 10px 20px;
    font-size: 14px;
    color: var(--color-place-holder);
    background-color: var(--bg-nav);
  }

  &.active {
    left: 0;
  }
}

#content-x {
  transition: all 0.3s;
  margin-left: 250px;
  margin-top: 50px;
  padding: 20px;
  min-height: calc(100vh - 50px);
  position: relative;

  @media (max-width: 768px) {
    margin-left: unset;
    // margin-top: 75px;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  &.is-full {
    margin-left: 0;
  }
}

.header-avatar-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition: all 0.3s;

  .profile-dropdown {
    position: relative;
  }

  .avatar-content {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    span {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--v2-color-text-info);
    }

    &.double-login {
      overflow: unset;
      position: relative;

      .main-img {
        position: absolute;
        z-index: 2;
      }

      .sub-img {
        position: absolute;
        top: -10px;
        left: 0;
        z-index: 1;
      }
    }
  }

  .profile-dropdown-menu {
    position: fixed;
    bottom: 10px !important;
    left: 10px;
    background-color: var(--bg-color);
    border-radius: 10px;
    color: var(--v2-color-text-info);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 230px;
    height: fit-content;
    font-size: 15px;
    z-index: 1000;
    float: left;
    text-align: left;
    list-style: none;
    display: none;
    background-clip: padding-box;

    &.show {
      display: block;
      will-change: transform;
    }

    .close-profile-dropdown-menu {
      position: absolute;
      top: 5px;
      right: 8px;
      z-index: 10;

      svg {
        width: 14px;
        height: 14px;

        path {
          fill: var(--color-place-holder);
        }
      }
    }

    .profile-detail-wrap {
      display: flex;
      align-items: center;
      padding: 15px;

      .profile-detail-avatar {
        margin-right: 10px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      p {
        color: var(--color-place-holder);
        margin-bottom: 0;
      }

      .dev-login {
        display: flex;
        align-items: center;
        margin-left: auto;
        opacity: 0.4;
      }

      &.web-version {
        background-color: var(--bg-nav);
        border-radius: 0 0 10px 10px;
        padding: 10px 15px;
      }
    }

    .profile-dropdown-item {
      color: var(--color-info);
      font-size: 15px;
      display: block;
      width: 100%;
      padding: 10px 15px;
      background-color: transparent;
      transition: all 0.3s;
      clear: both;
      font-weight: 400;
      text-align: inherit;
      white-space: nowrap;
      border: 0;

      &:hover {
        background-color: var(--bg-nav);
      }

      &.logout {
        &:hover {
          background-color: transparent;
          color: var(--color-danger);
        }
      }

      &.login {
        &:hover {
          background-color: transparent;
          color: var(--color-primary);
        }
      }
    }

    hr {
      margin: {
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
      }

      border-top: 0.5px solid var(--bg-nav);
    }

    &.profile-dropdown-menu-xl {
      width: 460px;

      .separator-line {
        border-right: 1px solid var(--bg-nav);
      }
    }
  }

  @media (max-width: $media_max_sm) {
    border-left: 1px solid transparent;
  }
}
.bg-black {
  background-color: #0f0e0e;
  color: #fff;
  .theme-bg-color {
    background-color: #232b32;
  }
  .theme-bg-card {
    background-color: #2e373d;
  }
  .theme-bg-card-optional-1 {
    background-color: #1b2126;
  }
  .theme-bg-card-optional-2 {
    background-color: #282e33;
  }
  .theme-bg-card-navbar {
    background-color: #3a4248;
  }
  .theme-bg-card-back {
    background-color: #2a3238;
  }
  .theme-bg-table {
    background-color: #2e373d;
  }
  .theme-bg-table-hover {
    background-color: #3a4248;
  }
  .theme-color-line {
    background-color: #2a3238;
  }
  .theme-color-field {
    background-color: #454c52;
  }
  .theme-color-field-active {
    background-color: #89b3f7;
  }
  .theme-color-info {
    background-color: #dadbe0;
  }
  .theme-color-secondary {
    background-color: #a5aabe;
  }
  .theme-color-place-holder {
    background-color: #778396;
  }
  .theme-color-primary {
    background-color: #3e88fb;
  }
  .theme-color-success {
    background-color: #31c947;
  }
  .theme-color-warning {
    background-color: #ffbd3a;
  }
  .theme-color-danger {
    background-color: #fe635b;
  }
  .theme-color-light {
    background-color: #3a4248;
  }
  .theme-color-dark {
    background-color: #ffffff;
  }
}
.bg-white {
  color: #000;

  .theme-bg-color {
    background-color: #eeeeed;
  }
  .theme-bg-card {
    background-color: #f7f7f7;
  }
  .theme-bg-card-optional-1 {
    background-color: #d5d5d5;
  }
  .theme-bg-card-optional-2 {
    background-color: #dedede;
  }
  .theme-bg-card-navbar {
    background-color: #e6e6e6;
  }
  .theme-bg-card-back {
    background-color: #dadee3;
  }
  .theme-bg-table {
    background-color: #f7f7f7;
  }
  .theme-bg-table-hover {
    background-color: #e6e6e6;
  }
  .theme-color-line {
    background-color: #dadee3;
  }
  .theme-color-field {
    background-color: #d0d6dd;
  }
  .theme-color-field-active {
    background-color: #5c9cff;
  }
  .theme-color-info {
    background-color: #3a4248;
  }
  .theme-color-secondary {
    background-color: #58606e;
  }
  .theme-color-place-holder {
    background-color: #9ca2a8;
  }
  .theme-color-primary {
    background-color: #3e88fb;
  }
  .theme-color-success {
    background-color: #0baa22;
  }
  .theme-color-warning {
    background-color: #ffbd3a;
  }
  .theme-color-danger {
    background-color: #fe635b;
  }
  .theme-color-light {
    background-color: #e6e6e6;
  }
  .theme-color-dark {
    background-color: #000000;
  }
}
.show-color {
  position: relative;
  .color {
    position: absolute;
    padding: 15px;
    font-weight: 500;
    font-size: 16px;
    right: 0;
  }
  .highlight {
    background-color: rgba(118, 200, 255, 0.7);
    color: #fff;
  }
}

.no-border-radius {

  &.container-pagination {
    .header-pagination {
      border-radius: 0 !important;
    }

  }
}
